@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Build Machine</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Monte do ZERO</h2>
        <p>
           Escolha peça por peça para montar a configuração do seu jeito.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Veja mais", "index", "PcConfig")</a></p>
    </div>
    <div class="col-md-4">
        <table border="0" cellpadding="20" cellspacing="80">
            <tr>
                <td>@Html.Raw(@Html.ActionLink("[replacetext]", "Index", "Home").ToHtmlString().Replace("[replacetext]", "<img src=\"/Img/cuboMagico.PNG\" width=300 height=300>"))</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>O que você quer jogar?</h2>
        <p>Escolha um jogo e veja configurações recomendadas.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Veja mais", "Jogos", "Jogo")</a></p>
    </div>
</div>